* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    width: 90%;
    height: 10vh;
    margin: auto;
    align-items: center;
}

.headshot, .nav-links {
    display: flex;

}

.headshot img{
    height: 300px;
    width: auto;
    flex: 1;
    padding: 25px;

}

nav {
    flex: 2;
}

.nav-links {
    justify-content: space-around;
    list-style: none;
}

.nav-link {
    color: #5f5f79;
    font-size: 18px;
    text-decoration: none;

}
.portfolio {
    display: flex;
    width: 90%;
    margin: auto;
    min-height: 80vh;
    align-items: center;
    flex-direction: column-reverse;
}

.introduction {
    flex: 1;
}
.intro-text h1 {
    font-size: 44px;
    font-weight: 500;
}

.highlight {
    flex: 1;
}

.highlight img {
    width: 100%; 

}
.horiseon, .about, .contact {
    padding: 100px;
}
.horiseon img {
    display: flex;
    height: 500px;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 850px){
    .horiseon, .about, .contact {
        padding: 10px;
    }
    .horiseon img{
        margin: auto;
    }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 740px) {
.horiseon img {
    width: 80%;
    height: auto;
}
.headshot img {
    width: 300px;
    height: auto;
}
.nav-link {
    font-size: 15px;
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 550px) {
.headshot img {
    width: 200px;
    height: auto;
}
.introduction h1{
    font-size: 25px;
    font-weight: 400;
}
.nav-link {
    font-size: 10px;
}
}

}